@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using ProductManagement.Permissions
@using ProductManagement.Web.Pages.Authors
@using ProductManagement.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using ProductManagement.Localization
@inject IHtmlLocalizer<ProductManagementResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Authors"].Value;
    PageLayout.Content.MenuItemName = ProductManagementMenus.Authors;
}

@section scripts
{
    <abp-script src="/Pages/Authors/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ProductManagementPermissions.Authors.Create))
    {
        <abp-button id="NewAuthorButton" text="@L["NewAuthor"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="FirstNameFilter" label="@L["FirstName"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LastNameFilter" label="@L["LastName"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EmailFilter" label="@L["Email"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="BioFilter" label="@L["Bio"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="AuthorsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["FirstName"]</th>
					<th>@L["LastName"]</th>
					<th>@L["Email"]</th>
					<th>@L["Bio"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>