@page
@model ProductManagement.Web.Pages.Carts.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Shopping Cart</h1>

@if (Model.CartItems.Count == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var uniqueCartItem in Model.UniqueCartItems.Values)
                {
                    <tr>
                        <td>@Model.BookTitles[uniqueCartItem.BookId]</td>
                        <td>@Model.Price[uniqueCartItem.BookId]</td>
                        <td>
                            <form asp-page-handler="RemoveFromCart" asp-route-Id="@uniqueCartItem.Id" asp-route-bookId="@uniqueCartItem.BookId">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>

                            <form asp-page-handler="UpdateQuantity" asp-route-Id="@uniqueCartItem.Id" asp-route-bookId="@uniqueCartItem.BookId">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="quantity" value="@uniqueCartItem.Quantity" min="1" />
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}
