@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using ProductManagement.Permissions
@using ProductManagement.Web.Pages.Addresses
@using ProductManagement.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using ProductManagement.Localization
@inject IHtmlLocalizer<ProductManagementResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Addresses"].Value;
    PageLayout.Content.MenuItemName = ProductManagementMenus.Addresses;
}

@section scripts
{
    <abp-script src="/Pages/Addresses/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ProductManagementPermissions.Addresses.Create))
    {
        <abp-button id="NewAddressButton" text="@L["NewAddress"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="CItyFilter" label="@L["CIty"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="StateFilter" label="@L["State"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PostalCodeFilterMin" label="@L["MinPostalCode"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PostalCodeFilterMax" label="@L["MaxPostalCode"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="CountryFilter" label="@L["Country"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="UserIdFilter" label="@L["UserId"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="StreetAddressFilter" label="@L["StreetAddress"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="AddressesTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["CIty"]</th>
					<th>@L["State"]</th>
					<th>@L["PostalCode"]</th>
					<th>@L["Country"]</th>
					<th>@L["UserId"]</th>
					<th>@L["StreetAddress"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>